body {
    background-color: #e5e5e5;
     /* мне приятней работать с этим цветом бэкграунда */
     overflow: hidden;
  }


:root{  
    --hex-side: 60px;
    --retreat-height: 53px;
    --hex-rotate: 30deg; /* угол наклона шестиугольника относительно центра */
    --first-top: 46%;
    --second-top: 19%;
    --third-top: 10%;
    --first-left: 130%;
    --second-left: 64%;
    --third-left: 0;
    --fourth-left: -64%;
    --fifth-left: -130%;
    --scope-size: 22px;
    --blue-scope-left: -300px;
    --blue-scope-top: 60px;
    --red-scope-left: -300px;
    --red-scope-top: 500px;
    --timer-size: 25px;
    --timer-top: 46%;
    --timer-left: 75%;
}
@media (max-width: 1410px) {
    :root {
        --hex-side: 58px;
    }
}
@media (max-width: 1340px) {
    :root {
        --hex-side: 55px;
        --blue-scope-left: -300px;
        --red-scope-left: -300px;
    }
}
@media (max-width: 1260px) {
    :root {
        --hex-side: 52px;
        
    }
}
@media (max-width: 1200px) {
    :root {
        --hex-side: 50px;
        --retreat-height: 48px;
        --blue-scope-left: -250px;
        --red-scope-left: -250px;
    }
}
@media (max-width: 1100px) {
    :root {
        --first-top: 57%;
        --second-top: 30%;
        --third-top: 20%;
        --hex-side: 48px;
        --retreat-height: 48px;
        --blue-scope-left: -250px;
        --red-scope-left: -250px;
    }
}
@media (max-width: 1030px) {
    :root {
        --hex-side: 45px;
        --retreat-height: 40px;
        --blue-scope-left: -200px;
        --red-scope-left: -200px;
    }
}
@media (max-width: 950px) {
    :root {

        --blue-scope-left: -150px;
        --red-scope-left: -150px;
        --hex-side: 40px;
        --retreat-height: 40px;
        
    }
}
@media (max-width: 870px) {
    :root {
        --blue-scope-left: -100px;
        --red-scope-left: -100px;
        --hex-side: 35px;
        --retreat-height: 30px;
        --first-top: 71%;
        --second-top: 44%;
        --third-top: 35%;
    }
}
@media (max-width: 800px) {
    :root {
        --blue-scope-left: -50px;
        --red-scope-left: -50px;
        --hex-side: 31px;
        --retreat-height: 30px;
        --first-top: 82%;
        --second-top: 54%;
        --third-top: 44%;
    }
}
@media (max-width: 650px) {
    :root {
        --hex-side: 28px;
        --first-top: 88%;
        --second-top: 60%;
        --third-top: 50%;
    }
}
@media (max-width: 575px) {
    :root {
        --first-top: 86%;
        --second-top: 59%;
        --third-top: 50%;
        --first-left: 185%;
        --second-left: 130%;
        --third-left: 80%;
        --fourth-left: 30%;
        --fifth-left: -30%;
        --hex-side: 31px;
        --retreat-height: 30px;
        --scope-size: 18px;
        --blue-scope-left: -190px;
        --red-scope-left: -190px;
        --timer-left: 48%;
        --timer-top: 92%;
    }
}
@media (max-width: 510px) {
    :root {
        --hex-side: 28px;
    }
}
.hexagon {
    width: calc(var(--hex-side) * 1.732);
    height: var(--hex-side);
    background: #339999;
    position: relative;
    transform: rotate(var(--hex-rotate));
    top: 0%;
    left: 0;
}

.hexagon:before, 
.hexagon:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #339999;
    top: 0;
    left: 0;
}

.hexagon:before {
    transform: rotate(60deg);
}

.hexagon:after {
    transform: rotate(-60deg);
}
.hexagon:hover {
    background: radial-gradient(circle, #87e0fd 0%,#01262b 55%);
}
.hexagon:hover:before {
    background: radial-gradient(circle, #87e0fd 0%,#01262b 55%);
}
.hexagon:hover:after {
    background: radial-gradient(circle, #87e0fd 0%,#01262b 55%);
}
.hexagon-blue {
    width: calc(var(--hex-side) * 1.732);
    height: var(--hex-side);
    background: #000066;
    position: relative;
    transform: rotate(var(--hex-rotate));
    top: 0%;
    left: 0;
}

.hexagon-blue:before, 
.hexagon-blue:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000066;
    top: 0;
    left: 0;
}

.hexagon-blue:before {
    transform: rotate(60deg);
}

.hexagon-blue:after {
    transform: rotate(-60deg);
}
.hexagon-blue:hover {
    background: radial-gradient(circle, #87e0fd 0%,#1a0338 55%);
}
.hexagon-blue:hover:before {
    background: radial-gradient(circle, #87e0fd 0%,#1a0338 55%);
}
.hexagon-blue:hover:after {
    background: radial-gradient(circle, #87e0fd 0%,#1a0338 55%);
}
.hexagon-red {
    width: calc(var(--hex-side) * 1.732);
    height: var(--hex-side);
    background: #CC0000;
    position: relative;
    transform: rotate(var(--hex-rotate));
    top: 0%;
    left: 0;
}

.hexagon-red:before, 
.hexagon-red:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #CC0000;
    top: 0;
    left: 0;
}

.hexagon-red:before {
    transform: rotate(60deg);
}

.hexagon-red:after {
    transform: rotate(-60deg);
}

.hexagon-red:hover {
    background: radial-gradient(circle, #87e0fd, #360000 55%);
}
.hexagon-red:hover:before {
    background: radial-gradient(circle, #87e0fd 0%,#360000 55%);
}
.hexagon-red:hover:after {
    background: radial-gradient(circle, #87e0fd 0%,#360000 55%);
}
.retreat {
    background-color: transparent;
    width: 1px;
    height: var(--retreat-height);
}

.hexagon-empty {
    width: calc(var(--hex-side) * 1.732);
    height: var(--hex-side);
    background-color: transparent;
    position: relative;
    transform: rotate(var(--hex-rotate));
    top: 0;
    left: 0;
}

.hexagon-empty:before, 
.hexagon-empty:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    top: 0;
    left: 0;
}

.hexagon-empty:before {
    transform: rotate(60deg);
}

.hexagon-empty:after {
    transform: rotate(-60deg);
}
.first-col-move {
    position: relative;
    left: var(--first-left);
    top: var(--first-top);
}
.second-col-move {
    position: relative;
    left: var(--second-left);
    top: var(--second-top);
}
.third-col-move {
    position: relative;
    left: var(--third-left);
    top: var(--third-top);
}
.fourth-col-move {
    position: relative;
    left: var(--fourth-left);
    top: var(--second-top);
}

.fifth-col-move {
    position: relative;
    left: var(--fifth-left);
    top:  var(--first-top);
}
.timer-move {
    position: absolute;
    right: 12%;
    top: 40% 
}
.text-move {
    position: relative;
    right: 38%;
    top: 210px;
}
.blue-scope {
    color: black;
    font-size: var(--scope-size);
    position: relative;
    left: var(--blue-scope-left);
    top: var(--blue-scope-top);
}
.new-blue-scope {
    color: blue;
    font-weight: bold;
    font-size: var(--scope-size);
    position: relative;
    left: var(--blue-scope-left);
    top: var(--blue-scope-top);
}
.red-scope {
    color: black;
    font-size: var(--scope-size);
    position: relative;
    left: var(--red-scope-left);
    top: var(--red-scope-top);
}
.new-red-scope {
    color: red;
    font-weight: bold;
    font-size: var(--scope-size);
    position: relative;
    left: var(--red-scope-left);
    top: var(--red-scope-top);
}
.timer {
    font-weight: bold;
    font-size: var(--timer-size);
    position: absolute;
    left: var(--timer-left);
    top: var(--timer-top);
}

