body {
    background-color: #dff3ef;
    user-select: none; /* чтоб юзер не мог выделять */
    margin: center;
}

/*
    Header
*/
.header {
    position: absolute;
    width: 100%;
    z-index: 1000; /* позиция на экране */
    top: 0;
    left: 0;
    right: 0;
}

/*
    Container
*/

.container {
    width: 100%;
    margin: 0 auto;
}

/*
    MainPhrase
*/

.mainPhrase { /* "Выбор команды" или что-то в этом роде */
    font-size: 30px;
    text-transform: uppercase; /* фраза запишется в верхнем регистре */
    
    font-family: "Comic Sans MS", "Comic Sans";

    margin-top: 3%;
    text-align: center;
    color: black;
}

/*
    Выбор команды
*/

.teams { /* для кнопок команды */
    text-transform: uppercase; /* фраза запишется в верхнем регистре */
    font-size: 40px;
    margin-top: 5%;
    text-align: center;
}

.team_one {
    font-family: Impact, fantasy;

    color: black;
    vertical-align: top;
    text-decoration: none; /* подчеркивание ссылки */

    transition: underline .2s linear; /* для плавности смены цвета шрифта */
    transition: color .2s linear;

    display: inline-block; /* чтобы шли дивы в одну линию */
    margin-right: 5%;
    text-decoration: none;

    /* что-то типо овальчика */
    justify-content: center;
    background-color: rgb(124, 195, 212);
    padding: 5%; /* радиус овальчика */
    border-radius: 100%; /* овалистость, чем меньше значение - тем больше скругление */
}

.team_one:hover {
    text-decoration: underline;
    color: blue;
}

.team_two { 
    font-family: Impact, fantasy;

    vertical-align: top;
    color: black;
    text-decoration: none;

    transition: underline .2s linear; /* для плавности смены цвета шрифта */
    transition: color .2s linear;

    display: inline-block; /* чтобы шли дивы в одну линию */
    margin-left: 5%;
    text-decoration: none;

    /* что-то типо овальчика */
    justify-content: center;
    background-color: rgb(238, 142, 64);
    padding: 5%; /* радиус овальчика */
    border-radius: 100%; /* овалистость, чем меньше значение - тем больше скругление */
}

.team_two:hover {
    text-decoration: underline;
    color: red;
}

/*
    Формы, куда вписываются ники или что-нибудь еще :)
    их желательно поправить, чет не получилось нормально их поместить)
    при жмыхе экрана чет криво ставится
*/

.fill_gap {
    font-size: 30px;
    margin-top: 10px;
}

.first_player {
    font-size: 25px; /* размер шрифта внутри поля */
    text-align: center;

    margin-left: 30%;
    
    width: 15%;
    margin-right: 5%;
    background-color: #fff; /* цвет выберите понравившийся :) */
    border-radius: 5%;
}

.second_player {
    font-size: 25px; /* размер шрифта внутри поля */
    text-align: center;

    width: 15%;
    margin-left: 5%;
    background-color: #fff; /* цвет выберите понравившийся :) */
    border-radius: 5%;
}

