/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body {
    /* background-color: #e5e5e5; */
    background-color: #FFFFFF;
    background: linear-gradient(to right, #FFFFFF 58%, #33449C 42%);
    overflow: hidden;
     /* мне приятней работать с этим цветом бэкграунда */
  }

.btn-corner{
  background-color: rgba(255, 255, 255, 0.3) !important;
}


  :root{  
    --hex-side: 60px;
    --retreat-height: 53px;
    --hex-rotate: 30deg; /* угол наклона шестиугольника относительно центра */
    --first-top: 46%;
    --second-top: 19%;
    --third-top: 10%;
    --first-left: 130%;
    --second-left: 64%;
    --third-left: 0;
    --fourth-left: -64%;
    --fifth-left: -130%;
    --scope-size: 22px;
    --blue-scope-left: -300px;
    --blue-scope-top: 80px;
    --red-scope-left: -300px;
    --red-scope-top: 580px;
    --timer-size: 25px;
    --timer-top: -270px;
    --timer-left: 75%;
    --question-size: 2.5em;
    --answer-size: 1.5em;
}
@media (max-width: 1410px) {
    :root {
        --hex-side: 58px;
    
    }
}
@media (max-width: 1340px) {
    :root {
        --hex-side: 55px;
        --blue-scope-left: -300px;
        --red-scope-left: -300px;
    
    }
}
@media (max-width: 1260px) {
    :root {
        --hex-side: 52px;
        
    }
}
@media (max-width: 1200px) {
    :root {
        --hex-side: 50px;
        --retreat-height: 48px;
        --blue-scope-left: -250px;
        --red-scope-left: -250px;
        --question-size: 2.2em;
        --answer-size: 1.3em;
        --timer-top: -210px;
    }
}
@media (max-width: 1100px) {
    :root {
        --question-size: 2.0em;
        --answer-size: 1.2em;
        --first-top: 57%;
        --second-top: 30%;
        --third-top: 20%;
        --hex-side: 48px;
        --retreat-height: 48px;
        --blue-scope-left: -250px;
        --red-scope-left: -250px;
        --timer-top: -190px;
    }
}
@media (max-width: 1030px) {
    :root {

        --hex-side: 45px;
        --retreat-height: 40px;
        --blue-scope-left: -200px;
        --red-scope-left: -200px;
        --timer-top: -150px;
    }
}
@media (max-width: 950px) {
    :root {

        --blue-scope-left: -150px;
        --red-scope-left: -150px;
        --hex-side: 40px;
        --retreat-height: 40px;
        --timer-top: -120px;
    }
}
@media (max-width: 870px) {
    :root {
        --question-size: 1.8em;
        --answer-size: 1.2em;
        --blue-scope-left: -100px;
        --red-scope-left: -100px;
        --hex-side: 35px;
        --retreat-height: 30px;
        --first-top: 71%;
        --second-top: 44%;
        --third-top: 35%;
        --timer-top: -30px;
    }
}
@media (max-width: 800px) {
    :root {
        --question-size: 1.7em;
        --answer-size: 1.15em;
        --blue-scope-left: -50px;
        --red-scope-left: -50px;
        --hex-side: 31px;
        --retreat-height: 30px;
        --first-top: 82%;
        --second-top: 54%;
        --third-top: 44%;
    }
}
@media (max-width: 650px) {
    :root {
        --hex-side: 28px;
        --first-top: 88%;
        --second-top: 60%;
        --third-top: 50%;
        --question-size: 1.6em;
        --answer-size: 1.16em;
        --timer-top: 0;
        --timer-size: 22px;
        --red-scope-top: 500px;
    }
}
@media (max-width: 575px) {
    :root {
        --first-top: 86%;
        --second-top: 59%;
        --third-top: 50%;
        --first-left: 185%;
        --second-left: 130%;
        --third-left: 80%;
        --fourth-left: 30%;
        --fifth-left: -30%;
        --hex-side: 31px;
        --retreat-height: 30px;
        --scope-size: 18px;
        --blue-scope-left: -190px;
        --red-scope-left: -190px;
        --blue-scope-top: 65px;
        --red-scope-top: 540px;
        --timer-left: 48%;
        --timer-top: 365px;
        --question-size: 1.5em;
        --answer-size: 1.10em;
    }
}
@media (max-width: 510px) {
    :root {
        --blue-scope-left: -165px;
        --red-scope-left: -165px;
        --hex-side: 28px;
        --answer-size: 1em;
    }
}
@media (max-width: 575px) and (max-height: 720px){
    :root {
        --first-top: 86%;
        --second-top: 59%;
        --third-top: 50%;
        --scope-size: 18px;
        --blue-scope-top: 65px;
        --red-scope-top: 540px;
        --timer-top: 330px;
    }
}
@media (max-width: 575px) and (max-height: 680px){
    :root {
        --first-top: 81%;
        --second-top: 54%;
        --third-top: 45%;
        --scope-size: 18px;
        --blue-scope-top: 45px;
        --red-scope-top: 480px;
        --timer-top: 280px;
    }
}
@media (max-width: 575px) and (max-height: 620px){
    :root {
        --first-top: 75%;
        --second-top: 48%;
        --third-top: 39%;
        --scope-size: 18px;
        --blue-scope-top: 35px;
        --red-scope-top: 400px;
        --timer-top: 220px;
        --hex-side:26px;
        --retreat-height: 26px;
    }
}
@media (max-width: 575px) and (max-height: 530px){
    :root {
        --first-top: 91%;
        --second-top: 64%;
        --third-top: 55%;
        --scope-size: 18px;
        --blue-scope-top: 40px;
        --red-scope-top: 350px;
        --timer-top: 240px;
        --hex-side:20px;
        --retreat-height: 20px;
        --first-left: 215%;
        --second-left: 150%;
        --third-left: 80%;
        --fourth-left: 15%;
        --fifth-left: -55%;
    }
}
.hexagon {
    width: calc(var(--hex-side) * 1.732);
    height: var(--hex-side);
    background: #339999;
    position: relative;
    transform: rotate(var(--hex-rotate));
    top: 0;
    left: 0;
}

.hexagon:before, 
.hexagon:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #339999;
    top: 0;
    left: 0;
}

.hexagon:before {
    transform: rotate(60deg);
}

.hexagon:after {
    transform: rotate(-60deg);
}
.hexagon:hover {
    background: radial-gradient(circle, #87e0fd 0%,#01262b 55%);
}
.hexagon:hover:before {
    background: radial-gradient(circle, #87e0fd 0%,#01262b 55%);
}
.hexagon:hover:after {
    background: radial-gradient(circle, #87e0fd 0%,#01262b 55%);
}
.hexagon-blue {
    width: calc(var(--hex-side) * 1.732);
    height: var(--hex-side);
    background: #000066;
    position: relative;
    transform: rotate(var(--hex-rotate));
    top: 0;
    left: 0;
}

.hexagon-blue:before, 
.hexagon-blue:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000066;
    top: 0;
    left: 0;
}

.hexagon-blue:before {
    transform: rotate(60deg);
}

.hexagon-blue:after {
    transform: rotate(-60deg);
}
.hexagon-blue:hover {
    background: radial-gradient(circle, #87e0fd 0%,#1a0338 55%);
}
.hexagon-blue:hover:before {
    background: radial-gradient(circle, #87e0fd 0%,#1a0338 55%);
}
.hexagon-blue:hover:after {
    background: radial-gradient(circle, #87e0fd 0%,#1a0338 55%);
}
.hexagon-red {
    width: calc(var(--hex-side) * 1.732);
    height: var(--hex-side);
    background: #CC0000;
    position: relative;
    transform: rotate(var(--hex-rotate));
    top: 0;
    left: 0;
}

.hexagon-red:before, 
.hexagon-red:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #CC0000;
    top: 0;
    left: 0;
}

.hexagon-red:before {
    transform: rotate(60deg);
}

.hexagon-red:after {
    transform: rotate(-60deg);
}

.hexagon-red:hover {
    background: radial-gradient(circle, #87e0fd, #360000 55%);
}
.hexagon-red:hover:before {
    background: radial-gradient(circle, #87e0fd 0%,#360000 55%);
}
.hexagon-red:hover:after {
    background: radial-gradient(circle, #87e0fd 0%,#360000 55%);
}
.retreat {
    background-color: transparent;
    width: 1px;
    height: var(--retreat-height);
}

.hexagon-empty {
    width: calc(var(--hex-side) * 1.732);
    height: var(--hex-side);
    background-color: transparent;
    position: relative;
    transform: rotate(var(--hex-rotate));
    top: 0;
    left: 0;
}

.hexagon-empty:before, 
.hexagon-empty:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    top: 0;
    left: 0;
}

.hexagon-empty:before {
    transform: rotate(60deg);
}

.hexagon-empty:after {
    transform: rotate(-60deg);
}
.first-col-move {
    position: relative;
    left: var(--first-left);
    top: var(--first-top);
}
.second-col-move {
    position: relative;
    left: var(--second-left);
    top: var(--second-top);
}
.third-col-move {
    position: relative;
    left: var(--third-left);
    top: var(--third-top);
}
.fourth-col-move {
    position: relative;
    left: var(--fourth-left);
    top: var(--second-top);
}

.fifth-col-move {
    position: relative;
    left: var(--fifth-left);
    top:  var(--first-top);
}
.timer-move {
    position: absolute;
    right: 12%;
    top: 40% 
}
.text-move {
    position: relative;
    right: 38%;
    top: 210px;
}
.blue-scope {
    color: black;
    font-size: var(--scope-size);
    position: relative;
    left: var(--blue-scope-left);
    top: var(--blue-scope-top);
}
.new-blue-scope {
    color: blue;
    font-weight: bold;
    font-size: var(--scope-size);
    position: relative;
    left: var(--blue-scope-left);
    top: var(--blue-scope-top);
}
.red-scope {
    color: black;
    font-size: var(--scope-size);
    position: relative;
    left: var(--red-scope-left);
    top: var(--red-scope-top);
}
.new-red-scope {
    color: red;
    font-weight: bold;
    font-size: var(--scope-size);
    position: relative;
    left: var(--red-scope-left);
    top: var(--red-scope-top);
}
.timer {
    font-weight: bold;
    font-size: var(--timer-size);
    position: relative;
    z-index: 0;
    left: var(--timer-left);
    top: var(--timer-top);
}
.question-container {
    display: block;
    position: absolute;
    z-index: 1;
    left: 12%;
    top: 0;
    height: 100vh;
    width: 75%;
    border: 3px solid black;
    background: cadetblue;
}

.question {
    font-size: var(--question-size);
    margin-left: 0.01%;
    border-bottom: 3px solid black;
    height: 62vh;
    width: 100%;
}
.answers {
    height: 38vh;
    font-size: var(--answer-size);
}
.A-B-questions {
    border-right: 4px solid black;
}
.A, .B, .C, .D {
    height: 18.8vh;
}
.A, .C {
    border-bottom: 2px solid black;
}
.A {
    margin-left: 0.1%;
}
.C {
    margin-right: 0.1%;
}
.A-txt:hover, .B-txt:hover,  .C-txt:hover, .D-txt:hover{
    font-weight: bold;
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}

.con {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.con p {
    width: 400px;
    padding: 15px;
}