body {
  background-color: #33449C;
}

.btn-main{
  background-color: #FD6592 !important;
}

.btn-corner{
  background-color: rgba(255, 255, 255, 0.3) !important;
}

.icon-main{
  width: 256;
  height: 256;
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}